USE [master]
GO
/****** Object:  Database [C:\USERS\TOPRAK\SOURCE\REPOS\MYLIBRARYTUTO\MYLIBRARYDB.MDF]    Script Date: 27.04.2022 23:45:04 ******/
CREATE DATABASE [C:\USERS\TOPRAK\SOURCE\REPOS\MYLIBRARYTUTO\MYLIBRARYDB.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Mylibrarydb', FILENAME = N'C:\Users\TOPRAK\source\repos\MyLibraryTuto\Mylibrarydb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Mylibrarydb_log', FILENAME = N'C:\Users\TOPRAK\source\repos\MyLibraryTuto\Mylibrarydb_log.ldf' , SIZE = 768KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C:\USERS\TOPRAK\SOURCE\REPOS\MYLIBRARYTUTO\MYLIBRARYDB.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [C:\USERS\TOPRAK\SOURCE\REPOS\MYLIBRARYTUTO\MYLIBRARYDB.MDF]
GO
USE [C:\USERS\TOPRAK\SOURCE\REPOS\MYLIBRARYTUTO\MYLIBRARYDB.MDF]
GO
/****** Object:  Table [dbo].[BookTbl]    Script Date: 27.04.2022 23:45:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookTbl](
	[BookName] [varchar](50) NOT NULL,
	[Author] [varchar](50) NOT NULL,
	[Publisher] [varchar](50) NOT NULL,
	[Price] [int] NOT NULL,
	[Qty] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IssueTbl]    Script Date: 27.04.2022 23:45:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IssueTbl](
	[IssueNum] [int] NOT NULL,
	[StdId] [int] NOT NULL,
	[StdName] [varchar](50) NOT NULL,
	[StdDept] [varchar](50) NOT NULL,
	[StdPhone] [varchar](50) NOT NULL,
	[Bookissued] [varchar](100) NOT NULL,
	[IssueDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IssueNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LibrarianTbl]    Script Date: 27.04.2022 23:45:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LibrarianTbl](
	[LibId] [int] NOT NULL,
	[LibName] [varchar](50) NOT NULL,
	[LibPassword] [varchar](50) NOT NULL,
	[LibPhone] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LibId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RetTbl]    Script Date: 27.04.2022 23:45:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RetTbl](
	[RetNum] [int] NOT NULL,
	[StdNum] [int] NOT NULL,
	[StudName] [varchar](50) NOT NULL,
	[StudDept] [varchar](50) NOT NULL,
	[StudPhone] [varchar](50) NOT NULL,
	[BookIssued] [varchar](100) NOT NULL,
	[BookReturned] [varchar](100) NOT NULL,
	[Librarianname] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RetNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReturnTbl]    Script Date: 27.04.2022 23:45:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReturnTbl](
	[RetNum] [int] NOT NULL,
	[StdId] [int] NOT NULL,
	[StdName] [varchar](50) NOT NULL,
	[StdDept] [varchar](50) NOT NULL,
	[Stdphone] [varchar](50) NOT NULL,
	[Bookreturned] [varchar](100) NOT NULL,
	[IssueDate] [date] NOT NULL,
	[ReturnDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RetNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentTbl]    Script Date: 27.04.2022 23:45:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentTbl](
	[StdId] [int] NOT NULL,
	[StdName] [varchar](50) NOT NULL,
	[StdDep] [varchar](50) NOT NULL,
	[StdSem] [int] NOT NULL,
	[StdPhone] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
